
body {
  background-image: url(https:dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQdvJNjNEQg7dTVv1rEXvV3Re70s0_85_Lu_IFongZEwjuKv5_gc9IkH0xgF_UgMxE2vdJS-neR-zeCn8vufrJUN78DV03zOH1HVNtPXqnO3r9lHymw5tYrtpJZ_LQh2jBKYw8e9VMxZ8aFFN809jiScde5s.jpg?r=bf5;)

}
.episode-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
grid-column: 1/3;
}



.episode, .episode-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}


.episode-image {
  width: 200px;
  height: 110px;
  margin-bottom: 10px;
  overflow: hidden;
}

.episode-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.episode-info {
  text-align: center;
  margin-bottom: 10px;
  border: 3px solid gray;
  border-radius: 20px;
}

.episode-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.episode-details {
  font-size: 14px;
  color: gray;
  margin-bottom: 5px;
}

.episode-summary {
  text-align: justify;
  font-size: 14px;
  margin-bottom: 10px;
} 

h2 {
  margin: 15px;
}

#search-input,
#count {
  display: inline-block;
}

#search-input {
  margin: 20px;
}

#show-select {
    margin: 20px;
  }

footer {
  text-align: center;
  color: #f2f2f2;
}